# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

*.swp
*.swo
*.exe
*.test
*.bak

资料.md

# Folders
_obj
_test
release
debian
bin
dist
build
lib
plans
certs
3rd_zht
3rd_unix

.vscode/
.kilocode/
